#sousou {
  height: 78px;
}

.sousou {
  height: 78px;
  padding-top: 20px;
}

.sousou span {
  font-size: 12px;
  color: #ccc;
}

.sousou span i {
  display: inline-block;
  position: relative;
  right: -6px;
  top: 8px;
  padding: 5px;
  width: 16px;
  height: 16px;
  background: url(../images/bg_direct.png) no-repeat -20px 0px;
}

.sousou i {
  display: inline-block;
  position: relative;
  right: 0px;
  top: 5px;
  padding-right: 5px;
  width: 19px;
  height: 16px;
  background: url(../images/bg_icon.png) no-repeat -30px 0px;
}

.dengluya {
  height: 95px;
  line-height: 95px;
  font-size: 35px;
  text-align: center;
}

.sign {
  height: 1058px;
  padding-left: 67px;
  margin-bottom: 67px;
}

.sign .signBox {
  height: 1058px;
  width: 860px;
  border: 1px solid #ccc;
  padding: 67px 0 0 132px;
}

.sign .signBox ul {
  width: 597px;
  height: 215px;
}

.sign .signBox ul li {
  float: left;
  margin: 10px 20px;
}

.sign .signBox ul li a {
  display: block;
  width: 150px;
  height: 150px;
  padding-top: 82px;
  box-sizing: border-box;
  background: url(../images/bg_logintab.png) 0 -150px no-repeat;
  font-size: 16px;
  color: #999;
  line-height: 20px;
  text-align: center;
}

.sign .signBox ul li:nth-child(1) a {
  background: url(../images/bg_logintab.png) -150px 0px no-repeat;
  color: red;
}

.sign .signBox .infoTxt {
  width: 595px;
  border-top: 1px solid #ccc;
  padding: 32px 0 42px;
  font-size: 24px;
  color: #333;
  text-align: left;
}

.sign .signBox .infoCheck {
  position: relative;
  padding-left: 23px;
  margin: 13px 0 30px;
  font-size: 15px;
  color: #24426c;
  text-align: left;
}

.sign .signBox .infoCheck:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 19px;
  height: 19px;
  content: "";
  vertical-align: -4px;
  background: url(../images/bg_icon3.png) no-repeat -5525px 0;
}

.sign .signBox .sign2 {
  height: 160px;
  width: 597px;
}

.sign .signBox .sign2 .sign2_t {
  height: 114px;
}

.sign .signBox .sign2 .sign2_t p {
  float: left;
}

.sign .signBox .sign2 .sign2_t p:nth-child(1) {
  width: 448px;
  height: 114px;
}

.sign .signBox .sign2 .sign2_t p:nth-child(1) input {
  width: 430px;
  height: 45px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
  padding-left: 10px;
}

.sign .signBox .sign2 .sign2_t p:nth-child(2) {
  text-align: center;
  font-size: 18px;
  line-height: 105px;
  width: 141px;
  height: 105px;
  background: red;
  border-radius: 10px 0 10px 0;
}

.sign .signBox .sign2 .sign2_t p:nth-child(2) a {
  color: #fff;
}

.sign .signBox .sign2 .sign2_b {
  color: #666;
  font-size: 14px;
}

.sign .signBox .sign2 .sign2_b input {
  margin-right: 5px;
}

.sign .signBox .exp {
  width: 595px;
  padding-bottom: 35px;
  border-bottom: none;
}

.sign .signBox .exp .listDot {
  float: left;
  margin-top: 30px;
  width: 336px;
  height: 91px;
}

.sign .signBox .exp .listDot li {
  position: relative;
  padding-left: 10px;
  color: #999;
  font-size: 13px;
  line-height: 5px;
}

.sign .signBox .exp .listDot li:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #999;
}

.sign .signBox .exp .btnWrap {
  float: right;
}

.sign .signBox .exp .btnWrap a {
  display: table-cell;
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 0 7px;
  vertical-align: top;
}

.sign .signBox .exp .btnWrap a i {
  display: block;
  background: url(../images/bg_member.png) no-repeat;
  width: 66px;
  height: 66px;
  margin-bottom: 6px;
}
